.emptyTickerTable {
	text-align: center;
	padding: 8px;
	margin-top: 8px;
	height: 640px;
	max-width: 240px;
}

h2 {
	font-weight: 600;
	font-size: 16px;
}

p {
	font-weight: 400;
	font-size: 14px;
}
