.inclusion-exclusion-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 240px;
	padding-left: 10px;
	padding-right: 10px;
}

.inclusion-exclusion-contents{
	margin-top: 50px;
}

.list {
	margin-left: 5%;
}

.chip-container {
	display: flex;
	justify-content: left;
	flex-wrap: wrap;
	list-style: none; 
}


