.flex-market-container {
	display: flex;
	flex-direction: row;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 12px;
	min-height: 140px;
	justify-content: center;
	align-items: center;
}

.marketButtons {
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
}
