@import url('file:///C:\sketch\Architech\Web\Web\ClientApp\src\components\Screener\Subcomponents\SectorSelector.css');
.button {
	background-color: #000000;
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
}

.buttonSelected {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 8px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 5px;
}

.sectorSelectorContainer {
	font-size: 11px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	margin-top: 20px;
	min-height: 200px;
}

ul.ks-cboxtags {
	list-style: none;
	padding: 24px;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

ul.ks-cboxtags li {
	display: inline;
}

	ul.ks-cboxtags li label {
		display: inline-block;
		background-color: #fff;
		border: 1px solid;
		border-color: dimgrey;
		color: dimgrey;
		width: 180px;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		border-radius: 10px;
		white-space: nowrap;
		margin: 3px 3px;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: transparent;
		transition: all .2s;
	}

ul.ks-cboxtags li label {
	padding: 8px 12px;
	cursor: pointer;
}

ul.ks-boxtags li label:hover {
	background-color: rgba(0, 0, 0, 0.1); /* Green */
	color: black;
}

ul.ks-cboxtags li label::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	padding: 2px 6px 2px 2px;
	transition: transform .3s ease-in-out;
}


	ul.ks-cboxtags li input[type="checkbox"]:checked + label {
		border: 1px solid #2E9B7F;
		background-color: #2E9B7F;
		color: #fff;
		transition: all .2s;
	}

ul.ks-cboxtags li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}

.MuiFormControlLabel-root {
	margin: 0px;
}

.MuiCheckbox-colorSecondary.Mui-checked:hover {
	background-color: #fff !important;
}

.MuiCheckbox-colorSecondary.Mui-checked:focus {
	background-color: #fff !important;
}

.industryLabel {
	color: rgba(0, 0, 0, 0.7) !important;
	font-size: 18px !important;
	font-weight: 600 !important;
}

.MuiTypography-body1 {
	color: rgba(0,0,0,0.7) !important;
	font-size: 13px !important;
}

.industryButtonsContainer {
	margin: 15px;
	margin-left: 20px;
}

.industryGridContainer {
	margin: 5%;
}

.market-selector-container {
	min-height: 300px;
	margin: auto;
}
