

.header {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0 auto;
	padding: 5px;
	background-color: #2E9B7F;
	color: white;
	border-radius: 8px 8px 0px 0px;
}

.deleteButton {
	right: 10px;
}

h2 {
	vertical-align: middle;
}

table {
	width: 100%;
}

.MuiTableCell-root {
	border-bottom: #606060;
}
